<md-toolbar color="primary">
    <span>Feed Cards</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>

    <md-menu #menu="mdMenu">
        <button md-menu-item (click)="createFeed()">
            <md-icon>create</md-icon>
            <span>Create new Feed</span>
        </button>
        <button md-menu-item (click)="nextPage()">
            <md-icon>arrow_right</md-icon>
            <span>Next Page</span>
        </button>
        <hr>
        <button md-menu-item>
            <md-icon>fingerprint</md-icon>
            <span>Login</span>
        </button>
        <button md-menu-item disabled>
            <md-icon>announcement</md-icon>
            <span>Issues</span>
        </button>
        <button md-menu-item>
            <md-icon>notifications_off</md-icon>
            <span>Disable alerts</span>
        </button>
    </md-menu>

</md-toolbar>

<md-tab-group>
    <md-tab label="Gallery">
        <md-card class="example-card" *ngFor="let feed_key of feed_detail_keys">
            <div *ngIf="FEED_DETAIL[feed_key]">
                <md-card-header>
                    <img md-card-avatar src="{{ FEED_DETAIL[feed_key].AVATAR }}">
                    <md-card-title>{{ FEED_DETAIL[feed_key].NAME }}</md-card-title>
                    <md-card-subtitle>{{ FEED_DETAIL[feed_key].AGE }} years</md-card-subtitle>
                </md-card-header>
                <img md-card-image src="{{ FEED_DETAIL[feed_key].IMG }}">
                <md-card-content>
                    <p>{{ FEED_DETAIL[feed_key].TEXT }}</p>
                </md-card-content>
                <md-card-actions align="end">
                    <button md-button (click)="likeFeed(feed_key)">
                        <md-icon [class.red-color]="FEED_DETAIL[feed_key].likes == 1">favorite</md-icon> {{ FEED_DETAIL[feed_key].likes }} LIKE
                    </button>
                    <button md-button (click)="deleteFeed(feed_key)">
                        <md-icon>delete</md-icon> DELETE
                    </button>
                    <button md-button (click)="comments(feed_key)">
                        <md-icon>comment</md-icon> COMMENTS
                    </button>
                </md-card-actions>
                <md-card-content *ngFor="let comment_key of feed_comments_keys[feed_key]">
                    <div *ngIf="FEED_COMMENTS[feed_key][comment_key]">
                        {{ FEED_COMMENTS[feed_key][comment_key].text }}
                        <button md-icon-button (click)="deleteComment(feed_key, comment_key)">
                            <md-icon>delete</md-icon>
                        </button>
                    </div>
                </md-card-content>


                  
                <md-list>
                    <md-list-item>
                        <img md-list-avatar src="{{ FEED_DETAIL[feed_key].AVATAR }}" alt="AVATAR">
                        <h3 md-line> Roma Prots </h3>
                    </md-list-item>
                    <p style="margin-top: -5px; margin-left: 73px; color: gray">If you'd like to contribute, you must follow our contributing guidelines. You can look through the issues.</p>
                </md-list>
                <md-list>
                    <md-list-item>
                        <img md-list-avatar src="{{ FEED_DETAIL[feed_key].AVATAR }}" alt="AVATAR">
                        <h3 md-line> Roma Prots </h3>
                    </md-list-item>
                    <p style="margin-top: -5px; margin-left: 73px; color: gray">If you'd like to contribute, you must follow our contributing guidelines. You can look through the issues.</p>
                </md-list>
                <md-list>
                    <md-list-item>
                        <img md-list-avatar src="{{ FEED_DETAIL[feed_key].AVATAR }}" alt="AVATAR">
                        <h3 md-line> Roma Prots </h3>
                    </md-list-item>
                    <p style="margin-top: -5px; margin-left: 73px; color: gray">If you'd like to contribute, you must follow our contributing guidelines. You can look through the issues.</p>
                </md-list>
                <md-list>
                    <md-list-item>
                        <img md-list-avatar src="{{ FEED_DETAIL[feed_key].AVATAR }}" alt="AVATAR">
                        <h3 md-line> Roma Prots </h3>
                    </md-list-item>
                    <p style="margin-top: -5px; margin-left: 73px; color: gray">If you'd like to contribute, you must follow our contributing guidelines. You can look through the issues.</p>
                </md-list>
                <md-list>
                    <md-list-item>
                        <img md-list-avatar src="{{ FEED_DETAIL[feed_key].AVATAR }}" alt="AVATAR">
                        <h3 md-line> Roma Prots </h3>
                    </md-list-item>
                    <p style="margin-top: -5px; margin-left: 73px; color: gray">If you'd like to contribute, you must follow our contributing guidelines. You can look through the issues.</p>
                </md-list>
                <md-list>
                    <md-list-item>
                        <img md-list-avatar src="{{ FEED_DETAIL[feed_key].AVATAR }}" alt="AVATAR">
                        <h3 md-line> Roma Prots </h3>
                    </md-list-item>
                    <p style="margin-top: -5px; margin-left: 73px; color: gray">If you'd like to contribute, you must follow our contributing guidelines. You can look through the issues.</p>
                </md-list>

                

            </div>
        </md-card>
    </md-tab>
    <md-tab label="Settings">
        
    </md-tab>
</md-tab-group>

<!--
<button (click)="createFeed()">Create new Feed</button>
<button (click)="nextPage()">Next Page</button>
<hr>
<div *ngFor="let feed_key of feed_detail_keys">
    <div *ngIf="FEED_DETAIL[feed_key]">
        Name: {{ FEED_DETAIL[feed_key].NAME }}
        <br>
        Age: {{ FEED_DETAIL[feed_key].AGE }}
        <br>
        <button (click)="deleteFeed(feed_key)">Delete Feed</button>
        <button (click)="likeFeed(feed_key)">{{ FEED_DETAIL[feed_key].likes }} Like Feed</button>
        <button (click)="comments(feed_key)">Show Comments</button>
        <button (click)="createComment(feed_key)">Create new Comment</button>
        <div *ngFor="let comment_key of feed_comments_keys[feed_key]">
            <div *ngIf="FEED_COMMENTS[feed_key][comment_key]">
                {{ FEED_COMMENTS[feed_key][comment_key].text }}
                <button (click)="deleteComment(feed_key, comment_key)">Delete Comment</button>
            </div>
        </div>
        <hr> 
    </div>
</div>
-->
