<div (click)="comments()" class="ui labeled button" tabindex="0">
    <div class="ui red button">
        <i class="comment icon"></i> Comments
    </div>
    <a class="ui basic red left pointing label">3</a>
</div>

<div class="ui minimal comments">
    <div *ngFor="let comment of FEED_COMMENTS" class="comment">
        <a class="avatar">
            <img src="assets/images/avatar4.jpg">
        </a>
        <div class="content">
            <a class="author">Joe Henderson</a>
            <div class="metadata"><span class="date">5 days ago</span></div>
            <div class="text">{{ comment.text }}</div>
            <div class="actions">
                <a>
                    <i class="comment icon"></i> Reply
                </a>
            </div>
        </div>
    </div>
</div>
